body {
  background-color: #fef2f4;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.1rem;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 27px;
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}

footer {
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
}

.wrapper {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.city-details {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 0;
  padding: 0 0 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city-details:last-child {
  border: none;
}

.date {
  font-size: 15px;
  opacity: 0.6;
}

.time {
  font-size: 38px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}
